/*1048335b7c0dc50a13032a22b55a8fbf*/
.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

#map > .ui-resizable-se, #minimap > .ui-resizable-se {
    cursor: se-resize;
    width: 15px;
    height: 15px;
    right: 1px;
    bottom: 1px;
    z-index: 1002;
    background-image: url('graphic/map/resizer.png');
    background-position: 0px 0px;
}

.map_navigation:hover {
    cursor: pointer;
}

.mp {
    height: 24px;
    width: 24px;
    display: block;
    background-image: url('graphic/map/icons_context.png');
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 15;
    opacity: 0;
}

#mp_res {
    background-position: 0px 0px;
}

#mp_res:hover {
    background-position: 0px -24px;
}

#mp_att {
    background-position: -24px 0px;
}

#mp_att:hover {
    background-position: -24px -24px;
}

#mp_lock {
    background-position: -48px 0px;
}

#mp_lock:hover {
    background-position: -48px -24px;
}

#mp_unlock {
    background-position: -216px 0px;
}

#mp_unlock:hover {
    background-position: -216px -24px;
}

#mp_fav {
    background-position: -72px 0px;
}

#mp_fav:hover {
    background-position: -72px -24px;
}

#mp_unfav {
    background-position: -240px 0px;
}

#mp_unfav:hover {
    background-position: -240px -24px;
}

#mp_msg {
    background-position: -96px 0px;
}

#mp_msg:hover {
    background-position: -96px -24px;
}

#mp_profile {
    background-position: -120px 0px;
}

#mp_profile:hover {
    background-position: -120px -24px;
}

#mp_overview {
    background-position: -144px 0px;
}

#mp_overview:hover {
    background-position: -144px -24px;
}

#mp_recruit {
    background-position: -168px 0px;
}

#mp_recruit:hover {
    background-position: -168px -24px;
}

#mp_tab {
    background-position: -192px 0px;
}

#mp_tab:hover {
    background-position: -192px -24px;
}

#mp_farm_a {
    background-position: -264px 0px;
}

#mp_farm_a:hover {
    background-position: -264px -24px;
}

#mp_farm_b {
    background-position: -288px 0px;
}

#mp_farm_b:hover {
    background-position: -288px -24px;
}

#mp_info {
    background-position: -144px 0px;
}

#mp_info:hover {
    background-position: -144px -24px;
}

.unit_count_home {
    font-style: italic;
    color: #333;
}

.map_border {
    background-color: #214B18;
}

.map_border_l {
    border-color: #214B18;
}

.map_border_night {
    background-color: #939696;
}

.map_border_night_l {
    border-color: #939696;
}

.map_con_border {
    background-color: #000;
}

.map_con_border_l {
    border-color: #000;
}

.map_con_border_night {
    background-color: #D4D5D5;
}

.map_con_border_night_l {
    border-color: #D4D5D5;
}

#map {
    display: block;
}

#map_container {
    position: relative;
}

#pmap_options {
    margin: 0px 0px 9px 20px;
}

#map table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.map_container table {
    background-colaor: red;
    border-collapse: collapse ! important;
}

#coord_x td, #coord_y td {
    padding: 0px;
}

#coord_x {
    text-align: center;
}

#coord_y td {
    vertical-align: middle;
}

#map td {
    padding: 0;
    margin: 0;
    background-color: green;
}

#warplanner {
    display: none;
    border: 1px solid #8c5f0d;
    margin-top: 5px;
    margin-bottom: 10px;
}

#warplanner_list {
    float: left;
    height: 300px;
    width: 200px;
    background-color: #aaa;
}

#warplanner_players > li {
    list-style-type: none;
    padding: 2px;
    border-bottom: 1px solid black;
}

#warplanner_players tr.selected {
    background-color: #880000 ! important;
}

#warplanner_players {
    border-spacing: 0px;
    border-collapse: collapse ! important;
}

#warplanner_content {
    padding: 10px;
}

#warplanner_selection {
    border: 1px solid green;
    background-color: red;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    border-radius: 3px;
}

.wp_col {
    width: 12px;
    height: 12px;
}

.centercoord {
    width: 25px;
}